Q1):-
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [2]:
#Let's go over the process step by step:
#1).The module is imported, and the value of the variable an is set to 0.
#2).The initial call to the function b() is made:
  #a)The global keyword is used to denote that the global variable a declared in the module scope is referenced by the variable an inside the function.
  #b)It invokes the function c(a), supplying as an argument the current value of a, which is 0.
  #c)The result (2) is returned by the function c(a), which increases the value of a by 2.
  #d)The returned value updates the global variable a, making it now equal to 2.
#3). A second call to the function b() is made:
 #a)The same steps are followed: The global variable a's current value, 2, is provided to the function c(a).
 #b)The outcome of the function c(a), which adds 2 to the value of a (which is 2), is 4, not 2.
 #c)The returned value is added to the global variable a, making it now equal to 4.
#4).The third time the method b() is invoked:
 #a)The same procedure is carried out once again, passing the function c(a) the global variable a's current value, 4, each time.
 #b)The outcome of the function c(a) is 6 after adding 2 to the value of a, which is 4.
 #c)The returned result is used to update the global variable a, which now has the value 6.
#5).Finally, the last expression a is evaluated:
#Since the last value assigned to the global variable a was 6, this value is displayed when the expression is evaluated.
#So, the value displayed when the last expression (a) is evaluated is 6.

Q2):-
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [7]:
def fileLength(filename):
    try:
        infile = open(filename, 'r')
        content = infile.read()
        infile.close()
        return len(content)
    except FileNotFoundError:
        print("File", filename, "not found.")
    except IOError:
        print("Error reading file", filename)
        
fileLength("C:/Users/yogit/Downloads/words.txt")

5345

Q3):-
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [8]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"


k = Kangaroo(0, 0)
print(k)  

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  

k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

Q4):-
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [11]:
def collatz(x):
    print(x)  

    if x == 1:  
        return

    if x % 2 == 0:  
        collatz(x // 2)  
    else:  
        collatz(3 * x + 1)  
collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

Q5):-
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [16]:
def binary(n):
    if n == 0: 
        return

    if n > 0:  
        binary(n // 2)  
        print(n % 2, end='')  
binary(1)
print("\n")
binary(3)
print("\n")
binary(9)

1

11

1001

Q6):-
Implement a class named HeadingParser that can be used to parse an HTMLdocument, and retrieve and print all the headings in the document. You shouldimplement your class as a subclass of HTMLParser, defined in Standard Librarymodule html.parser.When fed a string containing HTML code, your class shouldprint the headings, one per line and in the order which they appear in thedocument. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test yourimplementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [3]:
from html.parser import HTMLParser


class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.indentation = 0
        self.inside_heading = False

    def handle_starttag(self, tag, attrs):
        if tag.startswith("h") and len(tag) == 2:
            self.indentation = int(tag[1]) - 1
            self.inside_heading = True

    def handle_data(self, data):
        if self.inside_heading:
            print(" " * self.indentation + data)

    def handle_endtag(self, tag):
        if tag.startswith("h") and len(tag) == 2:
            self.inside_heading = False
infile = open('C:/Users/yogit/OneDrive/Documents/w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

Q7):-
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [10]:
import requests
from bs4 import BeautifulSoup


def webdir(url, depth, indent):
    if depth < 0:
        return

    
    print(" " * indent + url)

    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'html.parser')

        if depth == 0:
            return

        links = soup.find_all('a')
        for link in links:
            href = link.get('href')
            if href.startswith('http'):
                webdir(href, depth - 1, indent + 1)

    except requests.exceptions.RequestException:
        return
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

Q8):-
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [15]:
import sqlite3


conn = sqlite3.connect('weather.db')
cursor = conn.cursor()

In [16]:
cursor.execute('SELECT Temperature FROM Weather')
temperature_data = cursor.fetchall()
print("Temperature Data:")
for row in temperature_data:
    print(row[0])

Temperature Data:
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

In [ ]:
cursor.execute('SELECT DISTINCT City FROM Weather')
cities = cursor.fetchall()
print("\nCities without repetition:")
for row in cities:
    print(row[0])

In [17]:
cursor.execute("SELECT * FROM Weather WHERE Country='India'")
india_records = cursor.fetchall()
print("\nRecords for India:")
for row in india_records:
    print(row)

Records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [ ]:
cursor.execute("SELECT * FROM Weather WHERE Season='Fall'")
fall_records = cursor.fetchall()
print("\nFall Records:")
for row in fall_records:
    print(row)

In [18]:
cursor.execute("SELECT City, Country, Season FROM Weather GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400")
rainfall_average_records = cursor.fetchall()
print("\nRecords with average rainfall between 200 and 400 millimeters:")
for row in rainfall_average_records:
    print(row)

Records with average rainfall between 200 and 400 millimeters:
('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

In [ ]:
cursor.execute("SELECT City, Country FROM Weather WHERE Season='Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature)")
fall_temperature_records = cursor.fetchall()
print("\nRecords with average Fall temperature above 20 degrees (in increasing temperature order):")
for row in fall_temperature_records:
    print(row)

In [19]:
cursor.execute("SELECT SUM(Rainfall) FROM Weather WHERE City='Cairo'")
cairo_total_rainfall = cursor.fetchone()
print("\nTotal annual rainfall for Cairo:", cairo_total_rainfall[0])

Total annual rainfall for Cairo: 27.6

In [20]:
cursor.execute("SELECT Season, SUM(Rainfall) FROM Weather GROUP BY Season")
season_total_rainfall = cursor.fetchall()
print("\nTotal rainfall for each season:")
for row in season_total_rainfall:
    print(row[0], ":", row[1])

Total rainfall for each season:
Fall : 569.0
Spring : 192.29999999999998
Summer : 1706.5
Winter : 230.1

Q9):-
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.

In [22]:
words = ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
upper_words = [word.upper() for word in words]
print(upper_words)
lower_words = [word.lower() for word in words]
print(lower_words)
word_lengths = [len(word) for word in words]
print(word_lengths)
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_info)
long_words = [word for word in words if len(word) >= 4]
print(long_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['QUICK', 'BROWN', 'JUMPS', 'OVER', 'LAZY']